<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dines/IdeaProjects/APIwithTestNGAllureFramework">
        <classes>
            <class name="org.example.base.utilities">
                <methods>
                    <include name="readproperties"/>
                </methods>
            </class>
            <class name="org.example.testcases.Customers">
                <methods>
                    <include name="getbalance200ok"/>
                    <include name="getbalance401"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>